<div class="fixed-action-btn horizontal">
	<div class="btn-floating btn-large blue">
		<i class="material-icons">pan_tool</i></a>
	</div>
	<ul>
    <li><a href="/" class="btn-floating blue darken-4"><i class="material-icons">home</i></a></li>
    <li><a href="/chiropractic" class="btn-floating blue darken-4"><i class="material-icons">accessibility</i></a></li>
		<li><a href="/massage" class="btn-floating blue darken-3"><i class="material-icons">spa</i></a></li>
		<li><a href="/hypnosis" class="btn-floating blue darken-3"><i class="material-icons">visibility</i></a></li>
		<li><a href="/review-us" class="btn-floating blue darken-2"><i class="material-icons">mode_edit</i></a></li>
    <li><a href="/contact" class="btn-floating blue darken-2"><i class="material-icons">call</i></a></li>
	</ul>
</div>
