<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6">
        <h5 class="white-text">Back on Track</h5>
        <p class="grey-text text-lighten-4">Come in for a vist</p>
      </div>
      <div class="col l4 offset-s2">
        <h5 class="white-text">Follow us on</h5>
        <ul class="social-footer">
          <%= render "shared/social-links.html.erb" %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <%= @copyright %>
      <a class="grey-text text-lighten-4 right" href="#!"><%= render "shared/phone"%></a>
    </div>
  </div>
</footer>
