<div class="col s4 l3 offset-s3">
  <div class="card">
    <div class="card-tabs">
      <ul class="tabs">
        <li class="tab"><a class="active" href="#hours">Hours</a></li>
        <li class="tab"><a  href="#location">Location</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="hours"><%=render "shared/hours"%></div>
      <div id="location"><%=render "shared/sidebar-map" %></div>
    </div>
  </div>
</div>
