<h1>Animal</h1>
Why?
Best reasons:

1. Auto Accident  Some signs that your pet may have pain, tenderness on touching, your pet may nip at you, abnormal walk/gait, Hesitating to do actions your pet would normally do, like going up and down stairs, jumping from one place to another, or maybe your pet does not want to move at all.  Any abnormal behavior can be as a result of pain.


2. Auto Accident?  Whiplash is the result of nearly all auto accidents, even at slow speeds, if your pet was with you in that accident, it was likely injured also even if you cannot tell, the best recommendation is get assessed by a veterinarian and ask for a referral to an animal Chiropractor because some injuries are not as overt.



Who? - If your pet has a nervous system, there will be some benefit to you bring your pet in to see a Chiropractor, whether it is for pain or just to maintain an active and healthy lifestyle.

When? - The sooner the better, too many people allow their animals to become chronic in their problems instead of addressing them early.  When a problem has become chronic, it takes longer to overcome.  The sooner you get care, the sooner and easier it is to get better.

Where? - Not all Animal Chiropractors are equal, if you have gone to an animal chiropractor and experienced little to no benefit for your pet, or your pet has been hurt previously, you should understand this.  Chiropractors are trained in different techniques, and some Chiropractors never really get it.  Look to reviews to see just how good a Chiropractor is.  David Baggaley, DC has EXCELLENT reviews and his patients love him and the care he gives.

How? - If you think your pet could use the Chiropractor, we need a veterinarians referral to see him/her.  We have a referral form you can get online via Google Docs -
https://docs.google.com/document/d/1TqP3KK25L7JNy7FA-fZiIE7cYHBbycYmhtVk_QsZRgw/edit?usp=sharing

What it does for your pet? - The nervous system runs our bodies, a chiropractic adjustment can address the nervous system and allow the body to more effectively communicate with itself.  When a body is in dis-ease, the body does not effectively communicate with itself.  It only takes the weight of a dime in pressure at the nerve root to cut communication through that nerve by 60%.  So ensuring the proper alignment of the spine with proper function allows the nerve to function at its full capacity.  By moving a joint with a gentle Chiropractic adjustment, your pet can gain back the function in that joint and decrease swelling, increasing mobility and pressure off the nerve.
