<div class="container">
  <div class="card group-photo">
    <div class="card-image">
      <%=image_tag "GroupBONT.jpg", class: "group-people activator" %>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Back on Track Wellness Team<i class="material-icons right">close</i></span>
      <span class="group-card">With our team here at Back on Track Wellness Center your needs will be put first and your injuries taken care of in the best manner.</span>
    </div>
  </div>
</div>
