<div class="container">
  <div class="row">
    <div class="col m12">
      <h5 class="center">Hours</h5>
    </div>
    <div class="col m6">
      <ul>
        <li>Monday:</li>
        <li>Tuesday:</li>
        <li>Wednesday:</li>
        <li>Thursday:</li>
        <li>Friday:</li>
        <li>Saturday:</li>
      </ul>
    </div>
    <div class="col m6">
      <ul class="right">
        <li>By Appointment</li>
        <li>8:00-6:00</li>
        <li>8:00-6:00</li>
        <li>8:00-6:00</li>
        <li>closed</li>
        <li>8:00-1:00</li>
      </ul>
    </div>
  </div>
</div>
