<div>


<h3>Why?</h3>
<h4>Best reasons:</h4>
<br />

<h5>Auto Accident?</h5>
 <p>If you feel you were not injured in the accident the best recommendation is get assessed by a chiropractor because some injuries are not as overt</p>


<br />
<h5>Who?</h5>
  <p>If you have a nervous system, there will be some benefit to you in seeing a Chiropractor, where it is for pain or just to maintain an active and healthy lifestyle.</p>

<br />
<h5>When?</h5>
  <p>The sooner the better, too many people allow themselves to become chronic in their problems instead of addressing them early.  When a problem has become chronic, it takes longer to overcome.  The sooner you get care, the sooner and easier it is to get better.</p>

<br />
<h5>Where?</h5>
  <p>Not all Chiropractors are equal, if you have gone to a chiropractor and experienced little to no benefit, or you have been hurt previously, you should understand this.  Chiropractors are trained in different techniques, and some Chiropractors never really get it.  Look to reviews to see just how good a Chiropractor is.  Dr. Baggaley has EXCELLENT reviews and his patients love him and the care he gives.</p>

<br />
<h5>How?</h5>
  <p>Your nervous system runs your body, a chiropractic adjustment can address the nervous system and allow the body to more effectively communicate with itself.  When a body is in disease, the body does not effectively communicate with itself.  It only takes the weight of a dime in pressure at the nerve root to cut communication through that nerve by 60%.  So ensuring the proper alignment of the spine with proper function allows the nerve to function at its full capacity.</p>

</div>
