<!-- 1 . Got Pain?  Chiropractic can help to centralize and/or remove the pain.  If you or your pet have back pain, neck pain, shoulder pain, joint pain of any kind, then Chiropractic may help. -->

<!-- 2. Auto Accident?  Whiplash is the result of nearly all auto accidents, even at slow speeds. Dr. Baggaley is trained to find the subtle signs that you might not have realized were problems caused by the accident. -->

<!-- Since the majority of whiplash incidents impact the spine and the surrounding nerves and tissues, chiropractic care is an excellent avenue for treatment. Chiropractic doctors are skilled in assessing the source of the pain associated with a whiplash injury and determining a plan for effective treatment. -->

<!-- Chiropractic treatments are gentle and non-invasive. Through gentle adjustments, you and your pets find great relief from the pain associated with whiplash, and are set on a road to full recovery. Call our team at Back on Track to discover how chiropractic care can help you and your pet recover from whiplash. -->

<!-- 3. Maintenance? Most people and animals can benefit from a regular visit to see their chiropractor, much like visiting a dentist’s office, it will assist in preventing injury and maintain an active and rewarding lifestyle. -->









<!-- <nav>
    <div class="nav-wrapper">
      <div class="col s6 ">
        <a href="#human" class="breadcrumb">Human</a>
        <a href="#animal" class="breadcrumb">Animal</a>
      </div>
    </div>
  </nav> -->

<div class="row">

  <div class="col s6 offset-s1">


    <%= render "human", id: "human" %>
    <%= render "animal", id: "animal" %>



  </div>

  <%= render "shared/sidebar" %>

</div>
