<div class="container">
  <div class="row">
    <div class="col m6">
      <%= render 'shared/hours' %>
    </div>
    <div class="col m6">
      <%= render "shared/map" %>
    </div>
  </div>
</div>
