<div class="row">

  <div class="col s6 offset-s1">
    <h5>Who are you?</h5>
    <p>You are your own person and yet you find yourself limited or even self sabotaging. You have dreams and yet they remain out of reach. You want things and yet believe that you can't have them. You face fear, doubt, and disbelief. These obstacles, which plague all good characters immortalized in story and song are the same obstacles you face even now.</p>

    <h5>How will you overcome?</h5>
    <p>With hypnosis, It’s easy to finally put the past behind you, the future before you, and the present held firmly in your grasp. Using a model of therapy that has existed for thousands of years that is more effective and easier than “traditional” therapies that have existed less than 150 years, it’s only a matter of doing to accomplish your desires, conquer your fears, and attain your dreams.</p>

    <h5>What to expect:</h5>
    <p>Relaxation. Incredible change. Recovery. Life changing moments.</p>

    <h5>What hypnosis is:</h5>
    <p>Hypnosis is control of the mind. All hypnosis is self hypnosis. Hypnosis is a powerful tool that is perfectly safe.</p>

    <h5>How it works:</h5>
    <p>Bypassing the conscious mind and speaking directly to the unconscious mind. Through the power of suggestion and imagination.</p>

    <h5>What hypnosis is not:</h5>
    <p>Hypnosis is not mind control. Hypnosis is not what Hollywood portrays it as. Hypnosis is not a magic pill.</p>

    <h5>How long it takes:</h5>
    <p>Most issues can be resolved within 6 sessions. Each session is 45 to 75 minutes. Recommend at weekly intervals.</p>
  </div>

  <%= render "shared/sidebar" %>

</div>
