  <div class="row">

    <div class="col s6 offset-s1">
      <p>The body has an internal blueprint for wellness and when this system becomes polluted or off track it creates dis-ease within the body it is this dis-ease of the body's natural systems that leads to diseases.</p>

      <p>Here at Back on Track Wellness Center we believe that Massage works hand in hand with other therapies to help promote the body's natural systems.</p>

      <p>Your body is designed and programed for wellness, the human body is not programed for diseases. Disease is an upset of the body's primary operating system.</p>

      <p>As with all therapies at Back on Track, the goal of massage is to  reset, recalibrate, and eliminate anything within the body creating an upset to the intrinsic health and wellness system of your body. When this dis-ease is removed it allows your body’s intrinsic health system to function properly and get your body Back on Track.</p>

      <p>We offer many styles of massage depending on the precise needs of the individual. Allowing you to receive a massage as unique and Individual as you are.</p>

      <p>Modalities we offer include Swedish, Deep tissue, Cranial Sacral, Sports, as well as numerous others.</p>

      <p>We maintain the highest quality and standard of care, you can rest assured that with a massage at Back on Track you are getting a quality massage from a highly trained professional Licensed Massage Therapist.</p>

      <p>How great will you feel after your next massage at Back on Track Wellness Center?</p>
    </div>

    <%= render "shared/sidebar" %>
  </div>
