@import "materialize";
@import "font-awesome";

@import "pages.scss";


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 225px;
}

.teal {
  background-color: #13e2c2 !important;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 225px;
}

.nav-extended {
  height: 175px !important;
}
.nav-right-margin {
  margin-right: 150px;
}
.nav-left-margin {
  margin-left: 50px;
}
.nav-left-margin-logo {
  margin-left: 200px;
}
.phone {
  list-style-type: none;
  padding-left: 25px;
  font-size: 25px;
}


.hour-row {
  padding: 30px;
}
.collapsible-header {
  background-color: black;
}

.collapsible-header.david {
  background-color: #121013;
}
.collapsible-header.george {
  background-color: #16110E;
}
.collapsible-header.brandon {
  background-color: #0D0B0C;
}
.collapsible-header.julie {
  background-color: #080609;
}
.collapsible-header.morgan {
  background-color: #0A0809;
}
.sidebar-positioner {
  margin-right: 25px;
}
.problem-row {
  margin-bottom: 15px !important;
}

#sidenav-overlay {
  z-index: 0;
}

.social-footer {
  display: inline-flex;
}
.social-footer li {
  padding: 5px;
}

.copyright {
  font-size: 10px;
  color: white;
}
.brand-logo {
  vertical-align: middle;
}

.side-nav li > a {
  font-size: 30px;
  padding-top: 50px;
}

.people {
  height: 100%;
  width: 100%;
}
.about-card {
  height: 445px;
}

.group-card {

  text-align: center;
  vertical-align: middle;
  font-size: 25px;

}
.card-reveal {
  width: 75% !important;
}
.group-people {
  height: 100%;
  width: 75% !important;
}
.card.group-photo {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0),
              0 0px 0px 0 rgba(0, 0, 0, 0),
              0 0px 0px 0px rgba(0, 0, 0, 0);

}

.card.group-photo .card-image img {
  display: inline !important;
}

.home-group-photo {
  margin-left: 10%;
}


.tabs {
  overflow-x: visible;
  overflow-y: visible;
  text-align: center;
}

.card .card-content {
  // padding-right: 5px;
}
